{% extends 'base.html.twig' %}

{% block title %}Edit Calculation{% endblock %}

{% block body %}
    <div class="bg-gray-900 text-white p-5 min-h-screen">
        <div class="container mx-auto mt-10">
            <h1 class="text-3xl font-semibold text-center mb-8 text-white">Edit Calculation</h1>

            {% for message in app.flashes('success') %}
                <div class="max-w-md mx-auto rounded-lg bg-blue-900 border border-blue-600 text-center text-blue-200 px-4 py-3 relative mb-4">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="bg-gray-800 p-6 rounded-lg shadow-md border border-gray-700">
                <h2 class="text-xl font-bold mb-4 text-white">Edit Calculation</h2>
                <form method="POST" action="{{ path('calculation_edit', {id: calculation.id}) }}">
                    {{ form(form) }}  {# Render the edit form #}
                </form>
            </div>

        </div>
    </div>
{% endblock %}
